@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Black+Han+Sans&display=swap");

.wrap {
  width: 100%;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
header .gnb {
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 40px;
  right: 30px;
}
header .gnb > li > a {
  color: #fff;
  padding: 5px 20px;
  font-family: "Bakbak One", cursive;
  font-size: 30px;
}

#intro {
  width: 100%;
  height: 100vh;
  background-color: #191919;
  position: relative;
}
#intro .t01 {
  position: absolute;
  top: 15%;
  left: 3%;
  width: 90%;
}
#intro .up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#intro .down {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro .name {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  letter-spacing: -10px;
}
#intro .name > img {
  margin: 0 -10px;
  position: relative;
  transition-timing-function: ease-out;
}
#intro .stars > .s1 {
  position: absolute;
  top: 11%;
  left: 23%;
  /* animation:star01 1s step-end infinite; */
}
#intro .stars {
  animation: star01 2s infinite;
}
#intro .stars > img {
  width: 22px;
  height: 22px;
}
@keyframes star01 {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
#intro .stars > .s2 {
  position: absolute;
  top: 32%;
  left: 5%;
  animation-delay: 1s;
}

#intro .stars > .s3 {
  position: absolute;
  top: 50%;
  left: 27%;
  animation-delay: 0.8s;
}
#intro .stars > .s4 {
  position: absolute;
  top: 82%;
  left: 22%;
  animation-delay: 0.5s;
}
#intro .stars > .s5 {
  position: absolute;
  top: 17%;
  right: 15%;
  animation-delay: 0.8s;
}
#intro .stars > .s6 {
  position: absolute;
  top: 30%;
  right: 20%;
  animation-delay: 0.5s;
}
#intro .stars > .s7 {
  position: absolute;
  top: 60%;
  right: 26%;
}
#intro .stars > .s8 {
  position: absolute;
  top: 85%;
  right: 15%;
  animation-delay: 0.8s;
}

#about {
  width: 100%;
  height: 100vh;
  position: relative;
}

#about > .photo > .profile {
  width: 450px;
  height: 599px;
  position: absolute;
  top: 200px;
  left: 400px;
  z-index: 6;
}
#about > .photo > .shadow {
  width: 551px;
  height: 276px;
  position: absolute;
  top: 550px;
  left: 200px;
  z-index: 5;
}
.profile_text {
  width: 560px;
  float: right;
  position: absolute;
  top: 40%;
  right: 13%;
  line-height: 23px;
}
.profile_text > dl {
}

.profile_text > dl > dt {
  font-family: "COCOGOOSE";
  font-weight: 600;
  font-size: 20px;
  float: left;
  margin-right: 15px;
}
.profile_text > dl > dd {
  margin-bottom: 10px;
}
.profile_text > dl > dt:first-child {
  float: none;
}
.profile_text > ul {
  display: flex;
  flex-basis: 0;
  margin-top: 30px;
  font-family: "COCOGOOSE";
  font-weight: 600;
  font-size: 20px;
}
.profile_text > ul > li {
  margin: 5px;
}

/*work 1*/
#work {
  width: 1300px;
  height: 2000px;
  margin: 0 auto;
}
img.pic {
  /* width: 58%; */
  width: 700px;
  height: 448px;
}
.num {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
}
.go,
.dun,
.bbang,
.studio {
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
}
.go > .num {
  position: absolute;
  top: 120px;
  left: 45px;
  color: #82ac26;
}
.go > .m_txt,
.bbang > .b_txt {
  position: absolute;
  top: 150px;
  left: 50px;
}
article p:first-child span {
  font-family: "coco";
  font-size: 30px;
  line-height: 50px;
  margin-right: 20px;
}
article ul span {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 12px;
}
.btn_down {
  margin-top: 20px;
}
.btn_down > a,
.style-button {
  font-family: "COCOGOOSE";
  font-weight: 600;
}
.btn_down .style,
.figma,
.style-button {
  border: 1px solid #212121;
  border-radius: 11px;
  padding: 5px 15px;
  margin-right: 20px;
}
.btn_down .style:hover,
.btn_down .figma:hover,
.style-button:hover {
  background-color: #212121;
  color: #fff;
  font-weight: bold;
}
.go .style,
.go .figma,
.bbang .style,
.bbang .figma,
.style-button {
  box-shadow: -2px 4px 5px;
}
.add_s,
.add_f {
  box-shadow: 4px 5px 5px;
}
.go .pic,
.bbang > .b_pic {
  position: absolute;
  top: 0;
  right: 0;
}
.dun > .num {
  position: absolute;
  top: 110px;
  right: 345px;
  color: #ff662a;
}
.dun > .d_txt,
.studio > .s_txt {
  position: absolute;
  top: 140px;
  right: 90px;
}
.bbang > .num {
  position: absolute;
  top: 110px;
  left: 45px;
  color: #ffa22a;
}
.bbang .b_txt > p span {
  font-family: "Black Han Sans", sans-serif;
  font-size: 45px;
}
.studio > .num {
  position: absolute;
  top: 110px;
  right: 320px;
  color: #4f3f84;
}

.studio .s_txt p:nth-of-type(2) {
  margin-bottom: 10px;
}
#contact {
  width: 100%;
  position: relative;
}

section > .btn {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 14;
}
.video_box {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
video {
  width: 100%;
  object-fit: contain;
}

.con_txt {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 69%;
}

.con_txt a {
  font-family: "Pretendard-Regular";
  font-weight: bold;
  font-size: 20px;
  display: block;
  color: #fff;
}
.con_txt a > span {
  display: inline-block;
  font-family: "Black Han Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 27px;
  margin-right: 20px;
  line-height: 40px;
}
.txt01 {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  bottom: 40px;
  right: 30%;
  color: #fff;
}
/* 수정 */

.style-button {
  background-color: #fff;
  /* border: 1px solid #212121;
  color: #212121;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */
  cursor: pointer;
  font-size: 17px;
}

/* .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
} */
